---
interface Props {
  uni: string;
  href: string
}

const { uni, href } = Astro.props;
---

<article class="flex-container">
  <div class="unis-flex" id="unis-flex-izq">
    <img
      src={`/public/Rectorado-${uni}.jpg`}
      id="uni-img"
      alt={`Rectorado ${uni}`}
      style={`view-transition-name:${uni}`}
    />
  </div>
  <div class="unis-flex" id="unis-flex-der">
    <div id="uni-name">
      <h2>{uni}</h2>
    </div>
    <h4>
      <p>
        <slot />
      </p>
    </h4>
    <h5>
      <slot name="Redes" />
    </h5>
    <a href=`/Universidades/${href}`>Más Info</a>
  </div>
</article>

<style>
  .flex-container {
    display: flex;
    width: 100%;
  }

  .unis-flex {
    border: 0.7px solid rgb(31, 30, 30);
    margin: 0 auto;
    height: 506px;
  }

  .unis-flex img {
    max-width: 100%;
    height: auto;
  }

  #unis-flex-izq {
    margin-top: 30px;
  }

  #unis-flex-der {
    color: #fff;
    margin-top: 30px;
    flex-grow: calc(1);
    width: 40%;
    background: rgb(3, 3, 117);
    height: auto;
    padding: 10px;
  }

  #unis-flex-der h4 {
    font-size: 1.5rem;
    margin: 5px;
  }

  #unis-flex-der h5 {
    font-size: 1.3rem;
  }

  a {
    background-color: #3459ff;
    border-radius: 5px;
    color: #fff;
    padding: 12px 20px;
    margin-left: 5px;
  }

  #uni-name {
    margin: auto;
    width: 200px;
  }

  .priv-pub {
    display: flex;
    font-size: 26px;
  }

  #priv-pub-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  #unis-flex-der h2 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }

  #uni-img {
    height: 504px;
    min-width: 200px;
  }

  /* Media Querys */

  @media screen and (max-width: 1270px) {
    #unis-flex-der h4 {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 1027px) {
    #unis-flex-der h4 {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 950px) {
    #unis-flex-der h4 {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 940px) {
    .flex-container {
      flex-direction: column;
    }
    #unis-flex-der {
      width: 100%;
      margin-top: 0px;
      padding-bottom: 30px;
    }
    #unis-flex-izq {
      height: auto;
      margin-bottom: -4.6px;
    }

    #priv-pub-txt {
      font-size: 18px;
    }
    #uni-img {
      height: auto;
      width: 400px;
    }
  }
</style>
