---
interface Props {
    Uni: string;
    estadotxt: string;
    estado: string;
}

const { Uni, estado, estadotxt } = Astro.props

---

<article class="flex-container">
    <div class="unis-flex" id="unis-flex-izq">
      <img src=`/Rectorado-${Uni}.jpg` id="uni-img" alt={`Rectorado ${Uni}`} style={`view-transition-name:${Uni}`}>
    </div>
    <div class="unis-flex" id="unis-flex-der">
      <div id="uni-name">
        <h2>{Uni}</h2>
      </div>
      <h4>
        <slot/>
      </h4>
      <br>
      <div class="priv-pub">
        <img src={ estado } alt=`${estadotxt}.img`  id="priv-pub-img" transition:z-index="5">
        <h5 id="priv-pub-txt">Universidad { estadotxt }</h5>
      </div>
    </div>
</article>

<style>
.flex-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  .unis-flex {
    border: 0.7px solid rgb(31, 30, 30);
    margin: 0 auto;
    height: 506px;
  }

  .unis-flex img {
    max-width: 100%;
    height: auto;
  }

  #unis-flex-izq {
    margin-top: 60px;
  }

  #unis-flex-der {
    color: #fff;
    margin-top: 60px;
    flex-grow: calc(1);
    width: 40%;
    background: rgb(27 27 105)   
      /*  Color viejo rgb(3, 3, 117) */;
    height: auto;
    padding: 10px;
  }

  #unis-flex-der h4 {
    font-size: 1.5rem;
    margin: 5px;
  }

  #uni-name {
    margin: auto;
    width: 200px;
  }

  .priv-pub {
    display: flex;
    font-size: 26px;
  }

  #priv-pub-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #unis-flex-der h2 {
    background: #ccc;
    background: linear-gradient(
      to right,
      rgb(0, 221, 255),
      rgb(0, 174, 255),
      rgb(0, 60, 255)
    );
    font-size: 3rem;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
  }

  #uni-img {
    height: 504px;
    min-width: 200px;
  }

  /* Media Querys */

  @media screen and (max-width: 1270px){
    #unis-flex-der h4 {
      font-size: 1.3rem;
    }
  }

  @media screen and (max-width: 1027px){
    #unis-flex-der h4 {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 950px) {
    #unis-flex-der h4 {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 940px) {
    .flex-container {
      flex-direction: column;
    }
    #unis-flex-der {
      width: 100%;
      margin-top: 0px;
      padding-bottom: 20px;
    }
    #unis-flex-izq {
      height: auto;
      margin-bottom: -4.6px;
    }

    #priv-pub-txt {
      font-size: 18px;
    }
    #uni-img {
      height: auto;
      width: 400px;
    }
  }

  @media screen and (max-width: 929px) {
    #unis-flex-der {
      height: auto;
    }
  }

  @media screen and (max-width: 752px){

  }

  @media screen and (max-width: 550px) {



  }
  </style>