---
interface Props {
    uni: string;
    btn3: string;
    btn4: string;
}

const { uni, btn3, btn4 } = Astro.props
---

<section class="botones">
    <a href={`/Universidades/Becas/becas-${uni}`} class="boton">
      Becas
    </a>
    <a href={`/Universidades/Deportes/deportes-${uni}`} class="boton">
    Deportes
    </a>
    <a href={`/Universidades/Tuto-tall/tuto-tall-${uni}`} class="boton">
      {btn3}
    </a>
    <a href={`/Universidades/RI-Vol/ri-vol-${uni}`} class="boton">
      {btn4}
    </a>
</section>

<style>
    .botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton {
  flex: 1 0 20%;
  margin: 30px 10px;
  text-decoration: none;
  color: white;
  background-color: #1a99fb;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition:  0.5s all;
  font-size: 26px;
}

.boton:hover {
    background-color: rgb(34, 96, 254);
        transform: scale(1.03);
}

@media (max-width: 940px) {
  .boton {
    flex: 1 0 45%;
  }
}

@media (max-width: 500px) {
  .boton {
    flex: 1 0 100%;
    margin: 10px 5px;
    padding: 15px 20px;
  }
}
</style>